.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="datetime-local"],
  input[type="file"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #19392e;
    border: 1px solid #19392e;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #a2cfbf;
    border-color: #19392e; /* Green border on hover */
  }
  
  button[type="button"] {
    background-color: #fff;
    color: #19392e; /* Green text color */
    border: 1px solid #19392e; /* Green border color */
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 100%;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    form {
      flex-direction: column;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="datetime-local"],
    input[type="file"],
    button {
      width: 100%;
    }
  }
  